.icon-circle {
  height: 80px;
  width: 80px;

  border-radius: 50%;
}

.noHover {
  pointer-events: none;
}

.icon-circle-a {
  background-color: #1a202a;
}

.icon-circle-n {
  background-color: white;
}

.icon-circle:hover {
  background-color: #c5c5c5;
}
.icon-circle:active {
}

.marginIcon {
  margin-top: 40px;
  margin-right: 30px;
  margin-left: 30px;
}

.navbar {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  min-width: 20px;
}

.forSvg {
  margin: 25% 25%;
}
